<div class="abovebio">

<!-- Search -->
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?1114172" charset="utf-8"></script>
<script type="text/javascript"> xSearchPanel("style="); </script>
</div>

<!-- Vertical categories -->
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?1114172" charset="utf-8"></script>
<script type="text/javascript"> xVCategories("style="); </script>
</div>

<!-- Minicart -->
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?1114172"></script>
<script type="text/javascript"> xMinicart("style=","layout=floating"); </script>
</div>

</div> <!-- /.abovebio -->
